.App {
  text-align: center;
  background: linear-gradient(to left, rgb(51, 47, 47), #131838);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-size: 15px;
  /* justify-content: center; */
}
table {
  width: 100%;
  border-collapse: collapse;
}
.title {  
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  margin: 0px;
  padding: 3px;
  background-color: #3D4886; 
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  
}
.head-tabela {  
  font-size: 10px;
  font-weight: 100;
  width: 100%;
  margin: 0px;
  padding: 2px;
  background-color: #4b5aab; 
  color: white;
  border: none;
}


.btn {
  margin: 0;
  padding: 0px;
  padding-left: 5px;
  border: none;
}

.btnSalva {
  border-radius: 20px;
  width: 100%;
  margin: 0px;
  background-color: #4b5aab; 
  color: white;
  border: none; 
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  margin-top: 20px;
}

.body-tabela {
  font-size: 10px;
  font-weight: 100;
  color: white;
}

.linhaQuitado {
  background-color: #494c4a; 
}

.btnAdd {
  background-color: #3D4886;
  font-size: 40px;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
  border: none;
  padding: 0px;
  position: fixed;
  right: 10%;
  bottom: 10%;
  }


.btnAdd:hover {
  background-color: #4b5aab;
  color: white;
}



.btnFuncoes {
  background-color: none;
  color: white;
}

.btnFuncoes:hover {
  background-color: #4b5aab;
  color: white;
}


.btnSalva:hover, .btnDel:hover {
  background-color: #3D4886;
  color: white;
}

.valInvalido {
  color: red;
  font-weight: 100;
  align-items: right;
  font-size: 10px;
}